<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/login">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(user_id){ %>
        <form class="form-inline" action="/logout" method="POST">
          <div class="form-group mb-2">
            <p class="nav-link" style="margin: 0.55em; color: white">Welcome <%= user_id.email %></p>
            <button type="submit" class="btn btn-outline-primary">Logout</button>
          </div>
        </form>
      <% } else{ %>  
        <div>
          <a href="/login" class="btn btn-outline-primary" style="margin: 0.85em 0em;">Login</a>
          <a href="/register" class="btn btn-primary" style="margin: 0.85em 0.55em;">Register</a>
        </div>
    <% } %>
  </nav>
</header>